<div class='row white'>
	<div class='col-sm-6'>
		<h1 class='series italic center'>
			SERIES <font class='red-font italic'>22</font>
		</h1>
		<p class='center'>	
			In 2013, the United States Department of Veterans Affairs released a study that covered suicides from 1999 to 2010, which showed that roughly 22 veterans were dying by suicide per day, or one ever 65 minutes. Help us fight from 22 to none.
		</p>
		<p class='center'>
			<%= image_tag('button.png') %> 
		</p>
	</div>
	<div class='col-sm-6 center'>
		<%= image_tag('sippy.png', :height=>'500') %>
	</div>
</div>
<div class='row red'>

	<%= image_tag('about.gif'); %>
</div>
<div class='row red'>
	<p class='bulk-text'>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et scelerisque sem, a ultricies sem. Suspendisse vitae tortor tortor. Donec pulvinar dictum porttitor. Mauris pharetra nisl sapien, at posuere arcu molestie nec. Ut egestas arcu et interdum mollis. Cras congue venenatis nulla, sit amet laoreet odio vestibulum et. Pellentesque vitae vestibulum diam, at feugiat metus. Cras tempus aliquam nulla ac fermentum. Curabitur a enim urna. Pellentesque ac massa nec libero consectetur bibendum. Proin sit amet augue et metus blandit convallis. Mauris sit amet mi vulputate nibh venenatis dapibus.

	Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus porttitor ipsum a urna dictum, a semper ligula ultrices. Mauris tortor turpis, accumsan at vehicula vel, luctus a mi. Mauris ac ante sollicitudin, rutrum libero et, sollicitudin lacus. In quis aliquet urna, a blandit turpis. Nullam tincidunt pretium quam, sit amet facilisis sem gravida et. Phasellus quis dui in enim feugiat ullamcorper.

	Donec enim metus, rhoncus quis sodales in, commodo non turpis. Duis egestas pellentesque vehicula. Vivamus mollis eleifend eros. Duis tristique lectus non ullamcorper pharetra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque sit amet diam eget metus posuere fringilla. Nulla id feugiat mi.

	Vivamus sed nulla a turpis posuere tincidunt quis vitae libero. Nam euismod et odio vitae finibus. Donec id maximus arcu. Suspendisse elementum ipsum a sapien bibendum, at fringilla quam malesuada. Fusce elementum semper commodo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque ac eros elit.

	Etiam accumsan magna ante, vitae congue enim hendrerit ac. Vestibulum quis diam non urna posuere porttitor. Vivamus imperdiet, risus id semper aliquam, augue felis blandit urna, vitae molestie leo odio at enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis malesuada leo lectus, in consectetur felis facilisis vitae. Nullam dapibus mauris id odio accumsan, et lobortis risus hendrerit. Pellentesque vel libero augue.

	Aliquam vitae euismod arcu, ut egestas justo. Phasellus tincidunt cursus nulla in vulputate. Proin urna mi, placerat mattis metus ut, lobortis tristique ante. Quisque hendrerit lacus varius vulputate egestas. Donec odio eros, fermentum nec pharetra tincidunt, maximus eu orci. Suspendisse placerat ultricies erat eu ornare. Proin in consectetur eros, et tempor sem. Nunc euismod sed metus faucibus tincidunt. Donec non volutpat arcu. Integer at ultricies dui.
	<br>
	Nam vitae enim sed felis fringilla bibendum dignissim eget sem. Sed laoreet dignissim ligula, quis rutrum orci scelerisque quis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus a sem et urna volutpat pulvinar. Suspendisse luctus enim pulvinar, viverra orci at, pretium nisl. Nunc accumsan accumsan diam sed tempor. Phasellus pharetra ut massa ac pharetra.
	<p>
</div>
<div class='row tan'>
	<div class='col-sm-8'>
		<%= image_tag('contact.gif') %>
	</div>
	<div class='col-sm-4 red'>
	</div>
</div>
<div class='row tan'>
	<div class='col-sm-6'>
		<p class='bulk-text'>
			Duis dictum ultricies felis ut commodo. Donec est enim, consequat vel sollicitudin et, molestie ac lorem. Phasellus risus diam, faucibus sed velit nec, porta eleifend metus. Praesent volutpat sodales imperdiet. Aenean in dictum nulla, sed imperdiet diam. Vestibulum tristique, dolor eu convallis malesuada, magna purus ultricies nisl, tempor congue felis dolor a turpis. Sed sed pharetra dolor. Aenean blandit, diam in tincidunt tristique, ligula urna ornare ante, et cursus tellus libero quis elit.
			<br>
			Duis nec nunc bibendum, ultricies ante non, hendrerit metus. Nulla eget tempus dui, in congue nulla. Nullam viverra venenatis quam. Nulla sapien arcu, rutrum in egestas at, condimentum a metus. Donec vehicula tincidunt lectus in sagittis. Nunc sagittis blandit metus sit amet vehicula. Nam dictum justo vitae rhoncus mattis.
			<br>
			Pellentesque dictum facilisis ligula ac volutpat. Ut non ornare eros. Donec efficitur porttitor pharetra. Nullam ullamcorper eget magna sit amet egestas. Proin convallis risus vitae tortor finibus, fringilla porta elit lobortis. Nam tincidunt nulla arcu, nec blandit leo consequat vel. Nam rhoncus lobortis leo, faucibus ornare dolor molestie id. Fusce arcu arcu, bibendum vel justo quis, vehicula venenatis leo. Nullam imperdiet ultrices lacus, in dapibus leo euismod ut. Etiam malesuada malesuada suscipit. Sed gravida, justo non mollis ultricies, tortor enim ultrices ipsum, nec imperdiet arcu est sit amet justo. Vestibulum euismod in nunc nec cursus. Quisque finibus tincidunt elit ac bibendum. Fusce auctor luctus elit, in mattis eros scelerisque at. Morbi non risus sed tortor ullamcorper aliquet faucibus quis arcu.
		</p>
	</div>
	<div class='col-sm-6'>
		<p class='bulk-text'>
			Duis dictum ultricies felis ut commodo. Donec est enim, consequat vel sollicitudin et, molestie ac lorem. Phasellus risus diam, faucibus sed velit nec, porta eleifend metus. Praesent volutpat sodales imperdiet. Aenean in dictum nulla, sed imperdiet diam. Vestibulum tristique, dolor eu convallis malesuada, magna purus ultricies nisl, tempor congue felis dolor a turpis. Sed sed pharetra dolor. Aenean blandit, diam in tincidunt tristique, ligula urna ornare ante, et cursus tellus libero quis elit.
			<br>
			Duis nec nunc bibendum, ultricies ante non, hendrerit metus. Nulla eget tempus dui, in congue nulla. Nullam viverra venenatis quam. Nulla sapien arcu, rutrum in egestas at, condimentum a metus. Donec vehicula tincidunt lectus in sagittis. Nunc sagittis blandit metus sit amet vehicula. Nam dictum justo vitae rhoncus mattis.
			<br>
			Pellentesque dictum facilisis ligula ac volutpat. Ut non ornare eros. Donec efficitur porttitor pharetra. Nullam ullamcorper eget magna sit amet egestas. Proin convallis risus vitae tortor finibus, fringilla porta elit lobortis. Nam tincidunt nulla arcu, nec blandit leo consequat vel. Nam rhoncus lobortis leo, faucibus ornare dolor molestie id. Fusce arcu arcu, bibendum vel justo quis, vehicula venenatis leo. Nullam imperdiet ultrices lacus, in dapibus leo euismod ut. Etiam malesuada malesuada suscipit. Sed gravida, justo non mollis ultricies, tortor enim ultrices ipsum, nec imperdiet arcu est sit amet justo. Vestibulum euismod in nunc nec cursus. Quisque finibus tincidunt elit ac bibendum. Fusce auctor luctus elit, in mattis eros scelerisque at. Morbi non risus sed tortor ullamcorper aliquet faucibus quis arcu.
		</p>
	</div>
</div>
