/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
	font-family: conthrax;
	src: url(conthrax-sb.ttf);
}
body {
	background-color: #DBE2E9;
}
body {
  height: 100%;
  margin: 0;
}

/************* LISTS ************************/
.header-nav {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	height: 100px;
	
}

.header-nav {
	 float: left;
	 border-right: 1px solid black;
	 line-height: 100px;
	 text-align: right;
	}
	
li:last-child {
    border-right: none;
}

.footer-nav {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
/************* TEXT ************************/

.conthrax {
	font-family: conthrax;
	letter-spacing: 2px;
}
.conthraxlarge {
	font-family: conthrax;
	font-size: x-large;
	letter-spacing: 4px;
	line-height: 150%;
}
.text-center {
	vertical-align: middle;
}

.text-top{
	align-items: top;
}

.text-right {
	text-align: right;	
}
.text-left {
	text-align: left;
}

.mainfont {
	font-weight: bold;
	
}

.a-left {
	text-align: left;
}

.a-right {
	text-align: right;
}

/************** COLORS **********************/

.red {
	background-color: #DA291c;
}

.tan {
	background-color: #c3c7bf;
}

.white {
	background-color: #dbe2e9;
}

.gray {
	background-color: #2e2e2e;
}

/************* DIV **************************/


.box {
  display: flex;
  flex-flow: column;
  height: 100%;
  margin: 0;
  padding: 0;
}

.box .row {
 
}

.box .row.header {
  flex: 0 1 100px;
  text-align: center; 
  display: flex;
}

.box .row.content {
  flex: 1 1 auto;
  text-align: center;
  display: flex;
}

.box .row.footer {
  flex: 0 1 auto;
  text-align: center;
  display: flex;
}
.center {
	display: flex;
	width: 1267px;
	align-items: center;
}

.flex-div {
	flex: 1;
	text-align: left;
}

#menu-div {
	flex: 1 100px;
	text-align: right;
}


/************* Link Styling ****************/


.footer-nav li {
	text-decoration: none;
}
.footer-nav a {
	text-decoration: none;
}
.header-nav a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.header-nav a:visited {
	font-color: #fff;
}
.header-nav a:hover:not(.active) {
    background-color: #dbe2e9;
}

.header-nav a:active {
    background-color: #DA291c;
}


a:link {color:#DA291c;}      /* unvisited link */
a:visited {color:#DA291c;}  /* visited link */
a:hover {color:#004b8d;}  /* mouse over link */
a:active {color:#DA291c;}  /* selected link */