@import "bootstrap";

@import "*";

@import "**/*";

@font-face {
	font-family: 'conthrax';
	src:font-url('conthrax.ttf') format("truetype");
}

body {

	background-color: #000;
	font-family: conthrax;
}

.navbar-dark .navbar-nav .nav-link {
	color: #fff;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border-right: 1px solid black;
}

.navbar-dark .nav-item.active .nav-link, 
.navbar-dark .nav-item:hover .nav-link {
	color: #DA291c;

}

.footer-nav {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

a:link {color:#DA291c; text-decoration: none;}      /* unvisited link */
a:visited {color:#DA291c;  text-decoration: none;}  /* visited link */
a:hover {color:#004b8d;  text-decoration: none;}  /* mouse over link */
a:active {color:#DA291c;  text-decoration: none;}  /* selected link */



html,body {
	height:100%;
}

.container, .row {
	height:100%;
}


.offwhite {
	background-color: #e4e4e4;
}
.white {
	background-color: #fff;
}
.past-home {
	background-color: black !important;
}

.center {
	margin: auto;
	text-align: center;
}

a.anchor {
    display: block;
    position: relative;
    top: -130px;
    visibility: hidden;
}

.darkbg {
	color: #fefefe;
}


.navbar-dark {
	margin-bottom: 0px;
}




/* Default - screens over 767px wide */
.fit-image {
background: image-url('mds2.png');
background-size: 100%;
width: 1080px;
height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

/* Mobile Landscape */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .fit-image {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;

  }
}

/* Mobile portrait */
@media only screen and (max-width: 479px) {
  .fit-image {
    width: 100%;
    height: 100%;
  margin: 0px;
  padding: 0px;
  }
}