@import "bootstrap";

@import "*";

@import "**/*";

@font-face
{
	font-family: 'conthrax';
	src:font-url('conthrax.ttf') format("truetype");
}

*
{
	margin: 0;
}

/**************** General ****************/

html, body
{
	height: 100%;
	font-family: conthrax, Arial, sans-serif;
	background-color: #fffff0;
	color: black;

}

h1, h2, h3, h4, h5, h6, p
{
	margin-bottom: 10px;
	margin-top: 10px;
}

/**************** NavBar ****************/

nav
{
	position: fixed;
	width: 100%;
	height: 55px;
	background-color: rgba(0,0,0, 1);
	z-index: 99;
}

.navbar-dark .navbar-nav .nav-link
{
	color: white;
	background-color: black;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border-right: 1px solid black;
}

/**************** Parent Sections ****************/

.section
{
	height: 100%;
	background-position: center bottom;
	background-size: contain;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: black;
	padding: 0;
	margin: 0;
	padding-top: 10%;
	padding: 10% 10% 0% 10%;

}

.subSection
{
	height: 10%;
	background-color: black;
	color: white;
	width: 100%;
	padding: 0;
	padding-top: 10px;
	margin: 0;
	text-align: center;
}
.section, .subSection > h1, h2, h3, h4, h5, h6, p {
	margin: 0px;
}
/**************** Splash Screen ****************/

.sectionOne
{
	background-image: image-url('flagraise.png');
}

.sectionOne > h1
{
	 display: inline-block;
	 vertical-align: bottom;
	 text-align: center;
	 float: none;
	 margin-top: 35%;
	 margin-bottom: 35%;
}

.mainText
{
	color: red;
}

/**************** About Us Section ****************/

.sectionAbout
{
}

/**************** Million Dollar Salute Section ****************/

.sectionMDS
{
	background-image: image-url('mds2.png');
}

/**************** Mission Section ****************/

.sectionMission
{
	background-size: cover;
	background-image: image-url('flagraise.png');
}

/**************** Partners Section ****************/

.sectionPartners
{
	background-size: cover;
	background-image: image-url('flagraise.png');
	width: 100%;
}

.imgPartners
{
	width: 20%;
	height: auto;
	align: center;
	text-align: center;
	margin: 15px;
}

/**************** Contact Section ****************/

.sectionContact
{
	background-image: image-url('flagraise.png');
}

/**************** Social Section ****************/

.sectionSocial
{
	background-image: image-url('mds2.png');
	text-align: center;
}

.imageSocial  /* Controls the scaling for social media icons */
{
	max-width: 33%;
	height: auto;
	align: center;
	padding: 25px;
}

/**************** Footer ****************/

footer
{
	background-color: black;

}
