
.navbar-dark {
	margin-bottom: 0px;
}

.hero {
	background-image: image-url('iwobg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: fit;
}

div.row {
	overflow: hidden;
}

.user-form {
	> div {
		display: block;
		margin: 1em 0;
	}
}

.field_with_errors {
	input, textarea {
		border: 1px solid #ef4f4f;
	}
}

.honeypot {
	display: none !important;
}

.main-text 
{
	
	text-align: center; 
	margin: auto; 
	font-family: conthrax;
	color: white;
	font-weight: 100;

	@media screen and (min-width: 750px) {
		letter-spacing: 35px;
		font-size: 150%;
	}

}

body {
	background-image: image-url('sippy.png');
	background-size: 20%;
	background-repeat: no-repeat;
	background-position: center top;
}