
.navbar-dark {
	margin-bottom: 0px;
}

.hero {
	background-image: image-url('iwobg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: fit;
}

div.row {
	overflow: hidden;
}

.user-form {
	> div {
		display: block;
		margin: 1em 0;
	}
}

.field_with_errors {
	input, textarea {
		border: 1px solid #ef4f4f;
	}
}

.honeypot {
	display: none !important;
}