
.navbar-dark {
	margin-bottom: 30px;
}
.about {
	width: 1267px;
	height: 74px;
	background-image: url("/assets/about.gif");
}

.contact {
	width: 1167px;
	height: 71px;
	margin-left: 15px;
	background-image: url("/assets/contact.gif");
}